.active{
  text-decoration: underline;
}

.notFound{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound h1{
  font-size: 130px;
}

.notFound p{
  font-size: 50px;
}

li{
  list-style: none;
  
}



